@import "../../../constants/color";

.header {
  width: calc(100% - 40px) !important;
  margin: 0px 20px;
  padding: 28px 0px;
  border-bottom: solid 1px $black-EB;
}

.content {
  margin: 16px 20px 40px;
  font-size: 16px;
  color: $black-19;
  line-height: 162.5%;
}

.imageDetail {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
}

.dialogButton{
  width: calc((100% - 13px) / 2);

  &:not(:first-of-type){
    margin-left: 13px;
  }
}
