@import "../../../constants/color";

.container {
  margin: 20px;
}

.trainerItemContainer {
  /*
    + Navigation Height: 70px
    + TrainerItem margin_bottom: 16px
    - .container marigin: 20px
    - .trainerItemContainer margin: (70 + 16) - 20 = 66px
  */
  margin-bottom: 66px;
}

.mainHeader {
  margin-bottom: 20px;
}

.tabList {
  margin-bottom: 20px;
  margin-left: 4px;
}

.topDownFilter {
  margin-bottom: 20px;
  margin-left: 10px;
}

.trainerItem {
  margin-bottom: 16px;
}