.container {
  flex-direction: column;
  display: flex;
}

.body {
  display: flex;
  padding: 12px 20px;
  flex-grow: 1;
  flex-direction: column;
}

.category {
  margin-bottom: 20px;
}

.button {
    margin: 16px auto 0px;
      width: calc(100% - 60px);
      position: fixed;
      left: 30px;
      bottom: 18px;
}