@import "../../../../../constants/color.scss";

.container {
  background-color: $black-F6;
  padding: 20px;
  border-radius: 20px;
}

.title {
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 137.5%;
  color: $black-19;
}

.content {
  font-size: 16px;
  line-height: 162.5%;
  color: $black-19;
  word-break: break-word;
  white-space: pre-wrap;
}