@import "../../../../constants/color.scss";

.list {
  padding: 0px 20px;
}

.title {
  margin-top: 24px;
  padding: 16px 0px;
  font-size: 14px;
  color: $black-8B;
}

.item {
  color: $black-19;
  font-size: 16px;
  font-weight: bold;

  &.tag {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;

    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Safari, Opera*/
    &::-webkit-scrollbar {
      display: none;
    }

    & > div {
      border-radius: 10px;
      background-color: $black-F2;
      padding: 10px 10px;
      margin-right: 10px;
    }
  }

  &.line > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
  }
}