@import "../../constants/color";
.container {
  display: flex;
  justify-content: space-between;
}

.category {
  display: flex;
  font-weight: bold;
  width: inherit;
  background-color: $black-F2;
  color: $black-8B;
  border-radius: 10px;
  padding: 16px 24px 16px 14px;
}

.icon{
  width: 10px;
  margin-left: 5px;
}

.active {
  color: $black-19;
}
