@import "../../constants/color";
.container {
  display: flex;
  justify-content: space-between;
}

.category {
  background-color: $black-F2;
  color: $black-8B;
  border-radius: 10px;
  padding: 16px 24px 16px 14px;

  &__active {
    display: flex;
    font-weight: bold;
    width: inherit;
    
    &__icon{
      width: 10px;
      margin-left: 5px;
    }
  }
}