.bottom-sheet-list {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;

  &__header {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    padding-bottom: 8px;
    font-weight: bold;

  }

  &__icon {
    position: fixed;
    right: 25px;
  }

  &__item {
    width: 100%;
    font-size: 15px;
    line-height: 28px;
    padding: 10px 0px;

    &.active {
      color: #4880EE;
    }
  }
}