@import "../../constants/color";

.container {
  margin: 0px 20px;
}

.containerBody {
  margin-bottom: 54px;
}

.readMore {
  margin-top: 24px;
  margin-left: 36px;
}

.reply {
  margin-left: 40px;
}