// Priamry & Secondary
$primary-normal: #EBEBEB;
$secondary-normal: #4880EE;

// Grayscale
$black-00: #000000;
$black-19: #191F28;
$black-4E: #4E5968;
$black-6B: #6B7684;
$black-8B: #8B95A1;
$black-F2: #F2F4F5;
$black-D7: #D7D7D7;
$black-E2: #E2E2E2;
$black-EB: #EBEBEB;
$black-FA: #FAFAFA;
$black-FF: #FFFFFF;
$black-nav: #494E56;
$black-F6: #F6F7FA;

// System
$error: #D54D50;
$heart: #ED6B66;
$red-DD: #DD5458;
$red-F9: #F9EBEC;
$button-disabled: #B2CCFF;
$blue-DF: #DFEAFD;
$blue-1C: #1C62D9;
$yellow-FFD: #FFDC5F;
$yellow-FFC: #FFC804;