@import "../../constants/color";

.round-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  height: 55px;
  width: 100%;

  &.primary {
    background: $secondary-normal;
    color: $black-FF;
  }

  &.secondary {
    background: $black-F2;
    color: $black-4E;
  }

  &:disabled {
    background: $button-disabled;
    color: $black-FF;
  }
}
