.category-layout {
  &__header {
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;

    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;

    /* Chrome, Safari, Opera*/
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__title {
    font-weight: bold;
    flex-shrink: 0;
    margin: 0px 20px;
    display: flex;
  }

  &__icon{
    transform: rotate(-90deg);
    margin-left: 10px;
  }

  &__filter {
    flex-shrink: 0;
    font-size: 14px;
    margin-right: 7px;
    padding: 8px 10px;
    border-radius: 18px;
    background-color: #f2f4f5;
    color: #6B7684;

    &.active {
      background-color: #191F28;
      color: #F2F4F5;
    }
  }
}