.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;

  /* Chrome, Safari, Opera*/
  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    padding: 3px 12px;
    margin: 0px 4px;
    font-size: 16px;
    color: #8B95A1;
    font-weight: bold;
    line-height: 44px;

    &.active {
      &.round {
        background-color: #437ced;
        border-radius: 28px;
        color: white;
      }

      &.underline {
        border-bottom: 1px solid black;
      }
    }
  }
}