.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;

  /* Chrome, Safari, Opera*/
  &::-webkit-scrollbar {
    display: none;
  }

  &.underline {
    border-bottom: 1px solid #EBEBEB;
  }

  &__item {
    padding: 3px 12px;
    margin: 0px 4px;
    font-size: 16px;
    line-height: 44px;

    &.round {
      color: #8B95A1;
      font-weight: bold;
      &.active {
        background-color: #437ced;
        border-radius: 28px;
        color: white;
      }
    }

    &.underline {
      color: #191F28;

      &.active {
        font-weight: bold;
        color: #437CED;
        border-bottom: 2px solid #437CED;
      }
    }
  }
}