@import "../../constants/color";
.navigation {
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: solid 1px $black-EB;
  background-color: $black-FF;
  font-size: 11px;

  &>button {
    width: 25%;
    height: 70px;
    border: none;
    background-color: transparent;
    color: $black-E2;

    &.blue {
      color: $black-nav;
    }
  }
}