.container{
  padding: 11px 20px 0;
}

.profile {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.profileImage{
  width: 130px !important;
  height: 130px !important;
}

.button{
  position: fixed;
  bottom: 28px;
  width: calc(100% - 40px);
}