@import "../../constants/color";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.alarm {
  margin-left: 20px;
  display: inline-block;
}

.userImage {
  margin-left: 20px;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.notification {
  position: absolute;
  top: -4px;
  left: 12px;
  padding: 3px;
  border-radius: 13px;
  background-color: $heart;
  font-size: 8px;
  font-weight: 600;
  color: white;
}
