@import "../../constants/color";

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  display:table;
}

.message {
  text-align: center;
  display:table-cell;
  vertical-align:middle;

  &.full {
    height: calc(100vh - 130px);
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: $black-19;  
}

.description {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $black-8B;
}