.container {
  height: 100%;
  width: 100%;
  text-align: center;
  display:table;
}
@import "../../constants/color";
.message {
  text-align: center;
  display:table-cell;
  vertical-align:middle;
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: $black-19;  
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: $black-8B;
}