.container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  z-index: 100;
}

.content {
  position: absolute;
  top: calc(50% - 200px);
  width: 100%;
}

.gif {
  width: 200px;
  height: 200px;
}