@import "../../../../../constants/color.scss";

.container {
  flex-grow: 1;
}

.label {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 700;
  color: $black-6B;
}

.input {
  height: fit-content;
  background-color: $black-F2;
  border-radius: 10px;
  padding: 16px 14px;
  margin: 5px 0px;
  position: relative;

  & > textarea {
    width: 100%;
    height: 300px;
    font-size: 16px;
    font-weight: 600;
    color: $black-19;
    outline: none;
    border: none;
    background: none;
    resize: none;

    &::placeholder {
      color: $black-8B;
    }
  }
}
