@import "../../../../../constants/color";

.white {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white;
  border-radius: 18px 18px 0px 0px;
  box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;
}

.section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;

  &.delete {
    color: $error;

    & > svg {
      fill: $error
    }  
  }

  &.modify {
    color: $black-19;

    & > svg {
      fill: $black-19;
    }  
  }
}

.icon {
  margin-right: 10px;
}