@import "../../constants/color";

.container {
  border-top: 1px solid $black-EB;
  padding: 22px 20px;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: $black-4E;
  justify-content: flex-end;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0px 8px 0px 14px;

  &.liked {
    fill: $heart
  }
}