@import "../../../constants/color";

.dialogButton{
  width: calc((100% - 13px) / 2);

  &:not(:first-of-type){
    margin-left: 13px;
  }
}

.description{
  font-weight: 600;
  font-size: 15px;
  color: $black-6B;
}

.icon{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}