@import "../../../constants/color.scss";

.container {
  width: 100%;
}

.inputGroup {
  margin: 30px 0px 40px;
}

.button {
  text-align: center;

  & > button {
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 700;
    color: $black-6B;
    background-color: $black-F2;
    border: none;
    outline: none;
    border-radius: 9px;
  }
}