@import "../../constants/color";

.container {
  display: flex;
  justify-content: center;
  background-color: $black-19;
  border-radius: 18px;
  align-items: center;
  width: calc(100% - 36px);
}
.snackbarIcon {
  display: flex;
  margin-right: 10px;
}
.snackbarContent {
  color: $black-FF;
}

.shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}

.small {
  padding: 16px 0px;
}

.large {
  padding: 65px 0px;
}

.bottom {
  position: fixed;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}