@import "../../../../constants/color";

.container {
  padding: 50px 20px;
}

.headerContainer {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 16px;
}

.titleIcon {
  transform: rotate(180deg);
  width: 6px;
  height: 11px;
  margin-left: 5px;
  color: $black-19;
}