@import "../../../../constants/color";
.badge {
  height: fit-content;
  padding: 5px 9px;
  border-radius: 9px;
  font-weight: 700;

  &.done {
    background-color: $blue-DF;
    color: $blue-1C;
  }

  &.ready{
  background-color: $black-F2;
    color: $black-6B;
  }

  &.in-progress{
    background-color: $red-F9;
    color: $red-DD;
  }
}