.badge {
  height: fit-content;
  padding: 5px 9px;
  border-radius: 9px;
  font-weight: 700;

  &.done {
    background-color: #DFEAFD;
    color: #1C62D9;
  }

  &.ready{
   background-color: #F2F4F5;
    color: #6B7684;
  }

  &.in-progress{
    background-color: #F9EBEC;
    color: #DD5458;
  }
}