@import "../../../constants/color";

.header {
  padding: 16px 20px;
}

.container > hr {
  border: 1px solid $primary-normal;
  margin: 0px 20px;
}

.content {
  margin: 16px 20px 40px;
}

.feedback {
  margin: 40px 20px;
  padding: 20px;
  background-color: $black-F6;
  border-radius: 20px;

  &.center {
    text-align: center;
  }
}

.button {
  width: calc(50% - 4.5px);

  &:first-of-type {
    margin-right: 9px;
  }
}